<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974885471970-grnfrfto8dcbi5i3t3p6mbs2c622ghso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974885471970-grnfrfto8dcbi5i3t3p6mbs2c622ghso</string>
	<key>API_KEY</key>
	<string>AIzaSyAcZBw7Lo2qkYC8ecqV0I_EkwEYUhoQ51E</string>
	<key>GCM_SENDER_ID</key>
	<string>974885471970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.hakim.Aliyev.OnTime</string>
	<key>PROJECT_ID</key>
	<string>on-time-app-77941</string>
	<key>STORAGE_BUCKET</key>
	<string>on-time-app-77941.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974885471970:ios:635c9d0165b5b6010ec0bb</string>
</dict>
</plist>